name: Run gradlew clean test

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # https://github.com/actions/setup-java?tab=readme-ov-file#supported-version-syntax
      - uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run gradlew clean test
        run: ./gradlew clean test
