name: Run gradlew test

on:
    pull_request:
        branches-ignore:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   uses: actions/setup-java@v4
                with:
                    distribution: 'liberica'
                    java-version: '21'

            -   name: Cache Gradle packages
                uses: actions/cache@v4
                with:
                    path: ~/.gradle/caches
                    key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
                    restore-keys: |
                        ${{ runner.os }}-gradle-

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Run gradlew test
                run: ./gradlew test --warning-mode=all
